Repository provenance-io/p8e-cee-api, pull requests merged in 2022-11, with the labels that each got.

#66 Updating Asset Classification Libs Version
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: patch, chore, dependencies

#67 Bump metadata model version to 0.1.15, asset classification to 3.4.3
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: patch, dependencies

#69 Update all workflows & bump important dependencies' patch versions
  .github/workflows/build.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: patch, chore, dependencies

#65 Add endpoint to check for key custody
  service/src/main/kotlin/io/provenance/api/domain/usecase/provenance/tx/scope/ChangeScopeOwnership.kt
  service/src/main/kotlin/io/provenance/api/frameworks/web/external/provenance/ProvenanceApi.kt
  service/src/main/kotlin/io/provenance/api/frameworks/web/external/provenance/ProvenanceHandler.kt
  service/src/test/kotlin/io/provenance/api/integration/base/IntegrationTestBase.kt
Labels: enhancement, minor
