Repository provenance-io/p8e-cee-api, pull requests merged in 2023-02, with the labels that each got.

#100 Fee Grant Endpoints
  buildSrc/src/main/kotlin/Dependencies.kt
  models/src/main/kotlin/io/provenance/api/models/cee/execute/ContractExecutionResponse.kt
  models/src/main/kotlin/io/provenance/api/models/p8e/ProvenanceConfig.kt
  models/src/main/kotlin/io/provenance/api/models/p8e/tx/permissions/fees/Allowance.kt
  models/src/main/kotlin/io/provenance/api/models/p8e/tx/permissions/fees/Coin.kt
  models/src/main/kotlin/io/provenance/api/models/p8e/tx/permissions/fees/get/GetFeeGrantAllowanceRequest.kt
  models/src/main/kotlin/io/provenance/api/models/p8e/tx/permissions/fees/get/GetFeeGrantResponse.kt
  models/src/main/kotlin/io/provenance/api/models/p8e/tx/permissions/fees/grant/FeeGrantDetails.kt
  models/src/main/kotlin/io/provenance/api/models/p8e/tx/permissions/fees/grant/GrantFeeGrantRequest.kt
  models/src/main/kotlin/io/provenance/api/models/p8e/tx/permissions/fees/revoke/RevokeFeeGrantRequest.kt
  service/src/main/kotlin/io/provenance/api/domain/usecase/provenance/tx/permissions/fees/create/GrantFeeGrant.kt
  service/src/main/kotlin/io/provenance/api/domain/usecase/provenance/tx/permissions/fees/create/models/GrantFeeGrantRequestWrapper.kt
  service/src/main/kotlin/io/provenance/api/domain/usecase/provenance/tx/permissions/fees/get/GetFeeGrant.kt
  service/src/main/kotlin/io/provenance/api/domain/usecase/provenance/tx/permissions/fees/get/models/GetFeeGrantAllowanceRequestWrapper.kt
  service/src/main/kotlin/io/provenance/api/domain/usecase/provenance/tx/permissions/fees/revoke/RevokeFeeGrant.kt
  service/src/main/kotlin/io/provenance/api/domain/usecase/provenance/tx/permissions/fees/revoke/models/RevokeFeeGrantRequestWrapper.kt
  service/src/main/kotlin/io/provenance/api/frameworks/provenance/ProvenanceService.kt
  service/src/main/kotlin/io/provenance/api/frameworks/provenance/extensions/ProvenanceExtensions.kt
  service/src/main/kotlin/io/provenance/api/frameworks/web/external/provenance/ProvenanceApi.kt
  service/src/main/kotlin/io/provenance/api/frameworks/web/external/provenance/ProvenanceHandler.kt
Labels: enhancement, minor, dependencies

#93 Update Provenance to v1.13.1, add support for 403 response, add .gitignore for tests
  buildSrc/src/main/kotlin/Dependencies.kt
  service/docker/dependencies.yaml
  service/docker/prov-init/config/genesis.json
  service/src/main/kotlin/io/provenance/api/domain/usecase/common/errors/ForbiddenError.kt
  service/src/main/kotlin/io/provenance/api/frameworks/web/ErrorResponses.kt
  service/src/test/resources/.gitignore
  service/src/test/resources/dependencies.yaml
  service/src/test/resources/prov-init/config/genesis.json
Labels: patch, chore, dependencies

#101 classification `3.7.0`
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: bug, patch
